.product_card {
background-color: #f8f9fa; /* Slightly different background for emphasis */
border-radius: 5px;
padding: 15px;
margin-top: 10px;
}

.product-info label {
font-weight: bold;
}

.form-control {
max-width: 300px; /* Limit input width for better aesthetics */
margin: auto; /* Center align the input fields */
}

#c-address label {
font-weight: bold;
}

#c-address p {
font-size: smaller;
text-decoration: underline;
}
.img-hover-zoom {
transition: transform 0.5s ease;
display: block;
}
.img-hover-zoom:hover {
transform: scale(1.2);
}