body {
    background-image: url("../image/register_background.jpg");
    background-size:cover;
    font-family: Arial, sans-serif;
} 

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20; 
    background: linear-gradient(to right, #82d1f6, #1c5bfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top_bar{
    display: flex;
    flex-direction: row;
    background-color: #A0AFB7;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    height: 50px;
    width: auto;
}

li a {
    display: block;
    color: white;
    font-size: 16px;
    height: 30px;
    padding: 10px 12px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #0476D0;
}

#data_statistics {
    height: 55%;
    width: 20%;
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-left: 300px;
}

label {
    font-weight: bold;
    color: #0476D0;
    margin-right: 10px;
}

#volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}  

#total_volume {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}  

#total_sales{
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}  

#num_goods{
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

