<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'image/LOGO.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <title>User Selection</title>
</head>
<body>
    <h1 class="title">Online food ordering platform</h1>
    <div class="container">
        <div class="left">
            <h2>Customer</h2>
            <form method="get" action="{% url 'login_customer' %}">
              <button class="btn-customer" type="submit">Log in as Customer</button>
            </form>
        </div>
        <div class="right">
            <h2>Merchant</h2>
            <form method="get" action="{% url 'login_merchant' %}">
              <button class="btn-merchant" type="submit">Log in as Merchant</button>
            </form>
        </div>
    </div>

    <div class="footer no-mp">
        <div class="foot_link">
            <a href="#">About us</a>
            <span>|</span>
            <a href="#">Contact us</a>
            <span>|</span>
        </div>
        <p>CopyRight © 2023 Calvin All Rights Reserved</p>
    </div>
</body>
</html>
